.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--action-time) var(--action-function);

  &:hover,
  &:focus {
    color: var(--hover-text-color);
    fill: var(--hover-text-color);
  }
}

.contacts__item + .contacts__item {
  margin-left: var(--title-gap);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
