.menu {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;

    background-color: #fff;

    z-index: 9;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }

  &.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.menu__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;

  z-index: 10;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover {
    fill: var(--hover-text-color);
  }

  .icon__close {
    display: none;
  }

  &.is-open .icon__close {
    display: block;
  }

  &.is-open .icon__menu {
    display: none;
  }
}
