.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));

  font-size: 16px;
  line-height: 1.87;
}

.projects__card {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

.projects__link {
  display: inline-block;

  transition: box-shadow var(--action-time) var(--action-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.projects__content {
  padding: 20px 24px;
  background: var(--white);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
}

.projects__actions {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: var(--action-bg);

  transform: translateY(101%);
  transition: transform var(--action-time) var(--action-function);

  .projects__link:hover &,
  .projects__link:focus & {
    transform: translateY(0);
  }
}

.projects__description {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 322px;
  height: 168px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--white);

  transform: translate(-50%, -50%);
}
