.social-links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.social-links__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: var(--hover-text-color);
  &:not(:first-child) {
    padding-left: 10px;
  }

  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
