.team {
  display: flex;

  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team__item {
  background: var(--white);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item + .team__item {
  margin-left: var(--card-set-gap);
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;

  color: var(--title-text-color);
}

.team__content {
  padding-top: var(--card-set-gap);
  padding-bottom: var(--card-set-gap);
}
